@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar{
    height:10px !important;
    width:10px;
}
.custom-scroll::-webkit-scrollbar-thumb{
    background-color: rgb(17 17 20);
    border-radius: 1rem;
}